body{
    background-image: url("background1.jpg");

    background-size: cover;
    

}
nav{
    background-color: teal;
}

.rows{
    
   
    padding-left: 500px;
    padding-top: 100px;
    padding-right: 300px;
    align-self:center;
    /*align-content: center;*/
    justify-content: center;
    width:1125px;
    height:1000px;
}
.row{
   
    padding-top: 20px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.login-logo{
    padding-top: 50px;
}
/*.z-depth-2{
    height:144px;
}*/
.form-title{
    box-shadow: 100px;
    border-top:7px;
    width:600px;
    background-color: turquoise;
    height:160px;
    align-self: center;
    align-content: center;
    font-size: 38px;
    text-align: center;
    text-anchor: middle;
}
#login-form{
     padding-left: 11px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
        border-radius:7px;
     background-color: white;
    align-self: center;
    width:600px;
    height:550px;
    background-color: #eceff1;
}
.text-p{
    text-align: center;
}
.btn-large{
    margin-left: 230px;
}
