Babel==2.3.4
chardet==2.3.0
click==6.7
Django==1.11.2
Flask==0.11.1
gps==3.16
iniparse==0.4
IPy==0.81
itsdangerous==0.24
Jinja2==2.9.6
kitchen==1.2.4
MarkupSafe==0.23
olefile==0.44
pbr==3.1.1
Pillow==4.1.1
pycurl==7.43.0
pygobject==3.24.1
pygpgme==0.3
pyliblzma==0.5.3
pytz==2017.2
pyxattr==0.5.3
rpm-python==4.13.0.1
sepolicy==1.1
setools==4.1.0
six==1.10.0
stevedore==1.23.0
urlgrabber==3.10.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Werkzeug==0.11.10
yum-metadata-parser==1.1.4
