{% extends 'layout.html' %}
{% block body%}
<div class="container">
<h3>Welcome {{session.user_session}}</h3>


<div class="row">
    <div class="col-lg-6">
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="/add_buckets">
    <div class="input-group">
       <!-- <input type="text" class="form-control" name="bucketlist" placeholder="Add a new Bucketlist..."/>  -->
       {{render_field(form.bucketlist, class_="form-control")}}
      
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Add</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </form>
</div><!-- /.row -->
<h2> Your Buckets </h2>
<div class -"container">
<ul class="list-group">
   {%for bucket in bucketlist_store%}
   
  <li class="list-group-item"> {{bucket[bucket_id]}}
    <span class="badge">14</span>
    <span class="addbtn">X</span>
   </li>
  {%endfor%} 
  
  <li class="list-group-item">
    <span class="badge">10</span>
    Cras justo odio
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Cras justo odio
  </li>
</ul>
</div>    <!-- list,div-->
 </div>   <!--body,div--> 
{%endblock%}