{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block body %}
 <div class= "rows" id="main">
            <div class="z-depth-4"></div>
            <div class="form-title">
                 <div class="z-depth-2"></div>
            <!--<a href="#!" class="login-logo">Welcome</a>-->
            </div>
            <form class = "form-signin" id="login-form" action="/signin" method="POST">
                <h2 class= "form-signin-header"> Signin</h2>
                 {{ form.hidden_tag() }}
                 {{ wtf.formfield(form.username) }}
                 {{ wtf.formfield(form.password) }}
                <button class="waves-effect waves-light btn-large ">SIGN IN
                </button>
                <p class="text-p">Don't have an account? <a href="/signup">Sign Up</a> </p>
            </form>
        </div>      
{% endblock %}