{% extends "base.html" %}
{% import "wtf.html" as wtf%}
{% block body %}
 <div class= "rows" id="main">
            <div class="form-title">
                 <div class="z-depth-2"></div>
            <!--<a href="#!" class="login-logo">Welcome</a>-->
            </div>
            <form class = "form-signup" id="login-form" action="/signup" method="POST">
                <div class="row">
                    {{ form.hidden_tag() }}
                    {{ wtf.formfield(form.email) }}
                    {{ wtf.formfield(form.username) }}
                    {{ wtf.formfield(form.password) }}
                     
                    <button class="waves-effect waves-light btn-large " type="submit" name="action"> SIGN UP
                    </button>
                     <p class="text-p">Already have an account? <a href="/signin">Sign In</a> </p>
            </form>
        </div>
  
{% endblock %}